


<article class="article-card">

  <h1>{{this.title}}</h1>
   <img src={{this.urlToImage}} alt="">
   <h2>{{this.author}}</h2>
   <h2> source: {{this.source.name}}</h2>
   <p>{{this.description}}</p>
   <a href="/favorites/add/{{this.url}}">Add to favorites</a>
   <hr>
   
</article>