

<article class="article-card container">
  <form action='/article' method='POST' style="min-height:35vh; color:black;padding:10px 5px;margin-bottom:15px;">
   
     <label for=''></label>
     <input type='text'  style="display:none;" name='title' value="{{this.title}}">
   
     <label for=''></label>
     <input type='text'  style="display:none;" name='author' value="{{this.author}}">

     <label for=''></label>
     <input type='text'  style="display:none;" name='url' value="{{this.url}}">

     <label for=''></label>
     <input type='text'  style="display:none;" name='image' value="{{this.urlToImage}}">

     <label for=''></label>
     <input type='text'  style="display:none;" name='article' value="{{this.content}}">
   
     <button class="article-btns" type='submit'><h1 style="font-size:1.5rem;">{{this.title}}</h1></button>
     <br>
     <button class="article-btns article-img" style="display: block; float: left; cursor:pointer" type='submit'><img id="article-img" style=" cursor:pointer;padding:0;display:block;margin-top:15px;" src="{{this.urlToImage}}" alt=""></button>
       <br>
     <button class="article-btns" type='submit'><h2>By {{this.author}}</h2></button>
     <button class="article-btns" type='submit'><span> Source: {{this.source.name}}</span></button>
     <br>
     <button class="article-btns" style="width:60%;" type='submit'><p >{{this.description}}</p></button>
   </form>

   <form class="favorite-form" action='/home/add-to-favorite' style="padding:10px 5px; margin-top:-65px;" method='POST'>
    
     <input type='text'  style="display:none;" name='title' value="{{this.title}}">
   
    
     <input type='text'  style="display:none;" name='author' value="{{this.author}}">

  
     <input type='text'  style="display:none;" name='url' value="{{this.url}}">

   
     <input type='text'  style="display:none;" name='image' value="{{this.urlToImage}}">

    
     <input type='text' style="display:none;" name='article' value="{{this.content}}">

      <label for=''></label>
     <input type='text' style="display:none;" name='source' value="{{this.source.name}}">
   
     <button class="add-to-favorite" type='submit' style="background-color:transparent; margin-top:10px;"><img src="images/icons8-hearts.png"></button>
   </form>

 

   
   
</article>