

{{!-- <img src="{{this.image}}" alt=""> --}}
{{!-- <h1>{{this.title}}</h1> --}}
{{!-- <h2><a href="/article{{this.id}}">link</a></h2> --}}
{{!-- <a href="/favorites/delete/{{this.id}}">Delete this favorite</a> --}}




  <form action='/article' method='POST'>
   
     <label for=''></label>
     <input type='text'  style="display:none;" name='title' value="{{this.title}}">
   
     <label for=''></label>
     <input type='text'  style="display:none;" name='author' value="{{this.author}}">

      <label for=''></label>
     <input type='text'  style="display:none;" name='image' value="{{this.urlToImage}}">

    <label for=''></label>
     <input type='text'  style="display:none;" name='content' value="{{this.content}}">

     <label for=''></label>
     <input type='text'  style="display:none;" name='url' value="{{this.url}}">

     <button type='submit'><h1>{{this.title}}</h1></button>
     {{!-- <button type='submit'><img src={{this.urlToImage}} alt=""></button> --}}
     <button type='submit'><img src="{{this.image}}" alt=""></button>
     <button type='submit'><h2> source: {{this.source.name}}</h2></button>
     {{!-- <button type='submit'><p>{{this.description}}</p></button> --}}
   </form>
   <a href="/favorites/delete/{{this.id}}">Delete this favorite</a>
