<h1>{{ article.title }}</h1>
<h2>{{ article.author }}</h2>
<a href="/home">Home</a>

{{!-- <img src="{{ article.image }}" alt="">

<p>{{ article.article }}</p> --}}

<iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width= "100%"
    height="700 px"
    src="{{ article.url }}">
</iframe>