
  <nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <a class="navbar-brand" href="/home"><img style="height:50px;padding-left:15px;"src="images/One-news.png"></a>
   
    <form  id="form-container"class="form-inline ml-auto mx-auto" id="search-form" action='/home' method='POST'>
    
    <input class="form-control mr-sm-2" type='text' name='search'>
    
    <button class="btn btn-outline-success "type='submit'>Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1 text-center" id="navbarSupportedContent" id="myNavbar">
    <ul class=" nav navbar-nav ml-auto flex-nowrap">
     <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
     <li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a></li>
     <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
     <li class="nav-item" ><a class="nav-link" href="/logout"  >Logout</a></li>
  </ul>
  </div>
  </nav>
  <div style="display:block" id="profile-lines" >
<h2>hey! </h2>
<h4>username: {{{user.username}}}</h4>
<h4>email: {{user.email}}</h4>
<h4>Catch Phrase: {{user.catchPhrase}}</h4>
</div>

<button  id="edit-profile">Edit profile</button>

  <form style="display:none" id="profile-form" action='/profile/edit' method='POST'>

    <label for=''>Username</label>
    <input class="profile-input" type='text' name='username' value={{user.username}}>
  
    <label for=''>E-mail</label>
    <input class="profile-input" type='text' name='email' value={{user.email}}>

    <label for=''>Catch Phrase</label>
    <input class="profile-input" type='text' name='catchPhrase' value={{user.catchPhrase}}>
  
    <button id="submit-profile-edit" type='submit'>Submit</button>
  </form>

{{!-- <button id="clear-history">Clear history</button> --}}
<form method='POST'>
  <button id="clear-history" type='submit'>Clear query history</button>
</form>
