
  <nav class="navbar navbar-expand-lg sticky-top navbar-light" id="navbar" style="background-color:white">
    <a class="navbar-brand colored-nav" href="/home"><img style="height:50px;"src="images/One-news.png"></a>
    <a  class="navbar-brand hidden-nav" href="/home"><img style="height:50px;"src="images/One-news-white.png"></a>
   
    <form  id="form-container"class="form-inline ml-auto mx-auto" id="search-form" action='/home' method='POST'>
    
    <input class="form-control mr-sm-2" type='text' name='search' placeholder="search my history">
    
    <button class="btn btn-outline-success "type='submit' >Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1 text-center" id="navbarSupportedContent" id="myNavbar">
    <ul class=" nav navbar-nav ml-auto flex-nowrap">
     <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
     <li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a></li>
     <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
     <li class="nav-item" ><a class="nav-link" href="/logout"  >Logout</a></li>
      {{#ifEquals user.username "Admin"}}
      <li class="nav-item" ><a class="nav-link" href="/admin"  >Admin Panel</a></li>
    {{/ifEquals}}
  </ul>
  </div>
   <form  id="form-container-mobile"class="form-inline ml-auto mx-auto" id="search-form" action='/home' method='POST'>
    
    <input class="form-control mr-sm-2" type='text' name='search' placeholder="Search news">
    
    <button class="btn btn-outline-success "type='submit'>Search</button>
    </form>
  </nav>
  <div id="profile-page" class="height-container2 container">
  <div id="profile-lines" >
<h4>Username: {{{user.username}}}</h4>
<h4>Email: {{user.email}}</h4>
<h4 style="margin-bottom:20px;">Catch Phrase: {{user.catchPhrase}}</h4>
</div>

<button  id="edit-profile">Edit profile</button>

  <form id ="profile-form" style="display:none" id="profile-form" action='/profile/edit' method='POST'>

    <label  class="profile-label" for=''>Username</label>
      <br>
    <input class="profile-input" type='text' name='username' value={{user.username}}>
    <br>
    <label  class="profile-label" for=''>E-mail</label>
      <br>
    <input class="profile-input" type='text' name='email' value={{user.email}}>
  <br>
    <label  class="profile-label"for=''>Catch Phrase</label>
      <br>
    <input class="profile-input" type='text' name='catchPhrase' value={{user.catchPhrase}}>
    <br>
    <button id="submit-profile-edit" type='submit'>Submit</button>

    <button  id="edit-profile2">Back</button>
  </form>

{{!-- <button id="clear-history">Clear history</button> --}}
<form method='POST'>
  <button id="clear-history" type='submit'>Clear search history</button>
</form>
</div>

<footer>
    <p>Rose & Jonathan &copy 2019</p>
  </footer>